
<!-- Button trigger modal -->
<button id="notes-modal" hidden type="button"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
</button>
  
  <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content rounded-0">
        <div class="modal-header">
            <div>
                <h5 *ngIf="!editTitle" (click)="editTitleToggle(true)" class="modal-title bg-light px-2" id="staticBackdropLabel">{{note.title}}</h5>
                <input *ngIf="editTitle" id="editTitleInput" (blur)="updateTitle()" class="modal-title d-block" type="text" value="{{note.title}}">
                <small>{{note.createdAt.toDateString()}}</small>
            </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div *ngIf="!editContent" class="modal-body">
            <p>{{note.content}}</p>
        </div>
        <form>
            <textarea *ngIf="editContent" name="editNote" id="editnoteTextArea" [value]="note.content"></textarea>
        </form>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">close</button>
            <button *ngIf="!editContent" type="button" class="btn btn-sm btn-success" (click)="editContentToggle()"><i class="bi bi-pencil"></i></button>
            <button *ngIf="editContent" type="button" class="btn btn-sm btn-success" (click)="editContentToggle()">save</button>
        </div>
      </div>
    </div>
</div>