<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow mb-4">
    <div class="container">
      <a class="navbar-brand " routerLink="/"><i class="bi bi-bookshelf me-1"></i>MyReadShelf</a>
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span *ngIf="!showUser" class="navbar-toggler-icon"></span>
        <span *ngIf="showUser"ngClass="float-end">
          <img src="{{user.picture}}" class="rounded-circle img-fluid border p-1" style="width: 2.5rem;" alt="user">
          <i class="bi bi-three-dots-vertical"></i>
        </span>
      </button>
      <div class="collapse navbar-collapse ms-auto justify-content-around" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/myshelf" routerLinkActive="active"  aria-current="page">My Shelf</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/search" routerLinkActive="active" >Search Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">About</a>
          </li>
          <li *ngIf="showUser" class="nav-item d-lg-none">
            <a class="nav-link d-flex justify-content-between alig-items-center">
              <span>{{user.email}}</span>
              <button (click)="logout()" class="btn btn-sm btn-outline-light">logout</button>
            </a>
          </li>
        </ul>
      </div>
      <span *ngIf="showUser" class="d-none d-lg-block">
        <img src="{{user.picture}}" class="rounded-circle img-fluid border p-1" style="width: 3rem;" alt="user">
      </span>
    </div>
</nav>