<div class="container">
    <div class="row">
        <div class="col-3">
            <img src="https://books.google.co.za/books/content?id=TYsV8nF-D0AC&printsec=frontcover&img=1&zoom=1&edge=curl&imgtk=AFLRE736h_1N-M35-6g99vkG_VBP6gfu1khTGtfeUfFfKlvazxqFKAP1x4DyPfPPcwfjh6RXrZqh-qeYoyTYQR4zcKdtTsMhL4cUvtAgDPWyzckLXnSHzK5Ey_Bavb6zFWE52V8inUdn" class="shadow-sm w-100" alt="">
        </div>
        <div class="col d-flex flex-column justify-content-evenly">
            <div>
                Title:
            </div>
            <div>
                Author:
            </div>
            <div>
                Published:
            </div>
            <div>
                Status: Completed
            </div>
        </div>
    </div>

    <div class="m-2">
        My Notes:
        <p class="bg-light rounded p-3">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae rem voluptatem in aspernatur velit numquam ea totam. Magnam, doloremque quas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quibusdam doloribus distinctio quis velit, laborum dolor voluptate consectetur quaerat inventore impedit. Iste reiciendis nulla voluptatum cumque, corrupti ullam dignissimos vero.
        </p>
    </div>
</div>