<div class="container">
    <div class="row">
        <div class="col-12 col-md-3">
            <img src="{{bookItem.volumeInfo.imageLinks.thumbnail}}" class="shadow-sm w-100" alt="">
        </div>
        <div class="col d-flex flex-column justify-content-evenl">
            <div>
                <strong>Title:</strong>
                <p>
                    {{bookItem.volumeInfo.title}} <br>
                    <small>{{bookItem.volumeInfo.subtitle}}</small>
                </p>
            </div>
            <div>
                <strong>Author:</strong>
                <span class="mx-1" *ngFor="let author of bookItem.volumeInfo.authors">{{author}} | </span>
            </div>

            <strong>Description:</strong>
            <div class="overflow-auto" style="height: 30%;">
                <p>{{bookItem.volumeInfo.description}}</p>
            </div>

            <div>
                <strong>Published:</strong>
                <p>{{bookItem.volumeInfo.publishedDate}}</p>
            </div>
            <a class="" target="_blank" routerLink="{{bookItem.volumeInfo.previewLink}}">Full Preview</a>
        </div>

    </div>
    <hr>
    <div class="row">
        <div class="text-primary border rounded p-1 col-sm-5 me-1 w-auto">Shelf: Completed</div>
        <select [formControl]="shelfInput" (ngOnChange)="updateShelf()" class="form-select form-select-sm col-sm-5 w-auto" aria-label="Default select example">
            <option selected>Add to Shelf</option>
            <option value="wishlist">Wishlist</option>
            <option value="reading">Reading</option>
            <option value="completed">Completd</option>
        </select>
    </div>
    <div class="mt-3">
        My Notes:
        <textarea [formControl]="notesInput" (ngOnChange)="updateNotes()" style="height:200px;" class="bg-light text-secondary border-0 rounded p-3 w-100">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam aperiam temporibus repellendus, consequuntur laborum nobis ratione omnis qui minima dolorum obcaecati, delectus dolor incidunt cumque ipsa inventore perspiciatis, sunt a corrupti eos! Quos ea aperiam nobis, facilis a dicta minima illum accusantium accusamus temporibus tempore. Suscipit veritatis non quae natus?
        </textarea>
    </div>
</div>