<div class="container">
    <div class="row">
        <div class="col-12 col-md-3">
            <img src="{{bookItem.volumeInfo.imageLinks.thumbnail}}" class="shadow-sm w-100" alt="">
        </div>
        <div class="col d-flex flex-column justify-content-evenl">
            <div>
                <strong>Title:</strong>
                <p>
                    {{bookItem.volumeInfo.title}} <br>
                    <small>{{bookItem.volumeInfo.subtitle}}</small>
                </p>
            </div>
            <div>
                <strong>Author:</strong>
                <span class="mx-1" *ngFor="let author of bookItem.volumeInfo.authors">{{author}} | </span>
            </div>
            <strong>Description:</strong>
            <div class="overflow-auto" style="height: 30%;">
                <p>{{bookItem.volumeInfo.description}}</p>
            </div>

            <div>
                <strong>Published:</strong>
                <p>{{bookItem.volumeInfo.publishedDate}}</p>
            </div>
            <a class="" target="_blank" routerLink="{{bookItem.volumeInfo.previewLink}}">Full Preview</a>
        </div>

    </div>
    <hr>
    <div class="row">
        <div class="dropdown  col">
            <button class="btn btn-secondary btn-success dropdown-toggle" type="button" id="dropdownShelf" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-plus-lg"> Add to Shelf</i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownShelf">
              <li><span class="dropdown-item" href="#">Action</span></li>
              <li><span class="dropdown-item" href="#">Another action</span></li>
              <li><span class="dropdown-item" href="#">Something else here</span></li>
            </ul>
        </div>
        <div class="dropdown  col" *ngIf="bookInfo.bookId">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownShelf" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-toggles"> Change Shelf</i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownShelf">
              <li><span  class="dropdown-item"  (click)="updateShelf('completed')">Completed</span></li>
              <li><span  class="dropdown-item"  (click)="updateShelf('reading')">Reading</span></li>
              <li><span  class="dropdown-item"  (click)="updateShelf('wishlist')">Wsihlist</span></li>
            </ul>
        </div>
        <div *ngIf="bookInfo.bookId" class="col-3 mx-1 btn btn-danger" (click)="deleteItem()">
            <i class="bi bi-trash-fill"> Delete from Shelf</i>
        </div>
    </div>
    <div class="mt-3" *ngIf="bookInfo.bookId">
        My Notes:
        <textarea [formControl]="notesInput" (ngOnChange)="updateNotes()" style="height:200px;" class="bg-light text-secondary border-0 rounded p-3 w-100">
            {{bookInfo.notes}}
        </textarea>
    </div>
</div>