/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap.scss';;
@import '~bootstrap-icons/font/bootstrap-icons.scss';
@import 'app/slide-animations/slide-animations.scss';

.cursor-pointer {
    cursor: pointer;
}
.hover-shadow:hover {
    @extend .shadow;
    transition: 0.5s;
}
.bottom-tab-wrapper {
    position: fixed;
    bottom: 0;
    z-index: 5;
    display: flex;
    // justify-content: space-evenly;
    width: 100%;
    @extend .bg-white;
    @extend .shadow;

    .tab {
        @extend .btn, .text-muted;
        @extend .btn-light;
        @extend .rounded-0;
        @extend .border;
        width: 50%;
        @extend .p-2;
    }
}