<div class="container my-5">
    <p class="text-muted btn" (click)="showListToggle()">
        <span *ngIf="!showList">
          <i class="bi bi-chevron-right text-secondary"></i>  
        </span>
        <span *ngIf="showList">
           <i class="bi bi-chevron-down text-secondary"></i> 
        </span>
        
        
        {{listTitle}}
    </p>
    <hr>
    <div class="row mt-5" *ngIf="showList">
        <div class="col-6 col-md-4 col-lg-3 text-center">
            <app-shelf-item></app-shelf-item>
        </div>
        <div class="col-6 col-md-4 col-lg-3 text-center">
            <app-shelf-item></app-shelf-item>
        </div>
        <div class="col-6 col-md-4 col-lg-3 text-center">
            <app-shelf-item></app-shelf-item>
        </div>
        <div class="col-6 col-md-4 col-lg-3 text-center">
            <app-shelf-item></app-shelf-item>
        </div>
    </div>
</div>
