<div class="container mb-5">
    <div routerLink="/search"class="my-4 text-decoration-none cursor-pointer text-primary">
        <i class="bi bi-chevron-left"> Back</i>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">
            <img src="{{bookItem.volumeInfo.imageLinks.thumbnail}}" class="shadow-sm" alt="">
        </div>
        <div class="col d-flex flex-column justify-content-evenl">
            <div>
                <strong>{{bookItem.volumeInfo.title}}</strong>
                <p><small>{{bookItem.volumeInfo.subtitle}}</small></p>
            </div>
            <div class="my-1">
                <strong>Author:</strong>
                <span class="mx-1" *ngFor="let author of bookItem.volumeInfo.authors">{{author}} | </span>
            </div>
            <div class="overflow-auto">
                <div *ngIf="!seeMore">
                    <p [innerHTML]="bookItem.volumeInfo.description.slice(0, 200)+'<span>...</span>'"></p>
                    <span class="text-primary text-decoration-underline" (click)="seeMoreToggle(true)">see more</span>    
                </div>
                <div *ngIf="seeMore">
                    <p [innerHTML]="bookItem.volumeInfo.description"></p>
                    <span class="text-primary text-decoration-underline" (click)="seeMoreToggle(false)">see less</span>
                </div>
            </div>

            <div class="mt-3">
                <strong>Published:</strong>
                <p>{{bookItem.volumeInfo.publishedDate}}</p>
            </div>
            <a class="mb-5" target="_blank" href="{{bookItem.volumeInfo.previewLink}}">Full Preview</a>
        </div>
    </div>
</div>
<div class="bottom-tab-wrapper">
    <a routerLink="/books/{{bookItem.id}}" routerLinkActive="text-primary" class="tab">book Info</a>
    <a routerLink="/notes/{{bookItem.id}}" routerLinkActive="text-primary" class="tab">My Notes</a>
</div>