@import '~bootstrap/scss/bootstrap.scss';;
.bottom-tab-wrapper {
    position: fixed;
    bottom: 0;
    z-index: 5;
    display: flex;
    // justify-content: space-evenly;
    width: 100%;
    @extend .bg-white;
    @extend .shadow;

    .tab {
        @extend .btn;
        @extend .btn-light;
        @extend .rounded-0;
        @extend .border;
        width: 50%;
        @extend .p-2;
    }
}