<div class="container mb-5">
    <div (click)='locationBack()' class="my-4 text-decoration-none cursor-pointer text-primary">
        <i class="bi bi-chevron-left"> Back</i>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">
            <img src="{{bookItem.volumeInfo.imageLinks.thumbnail}}" class="shadow-sm" alt="">
        </div>
        <div class="col d-flex flex-column justify-content-evenl">
            <div>
                <strong>{{bookItem.volumeInfo.title}}</strong>
                <p><small>{{bookItem.volumeInfo.subtitle}}</small></p>
            </div>
            <div>
                <strong>Author:</strong>
                <span class="mx-1" *ngFor="let author of bookItem.volumeInfo.authors">{{author}} | </span>
            </div>
            <div class="overflow-auto">
                <div *ngIf="!seeMore">
                    <p [innerHTML]="bookItem.volumeInfo.description.slice(0, 200)+'<span>...</span>'"></p>
                    <span class="text-primary text-decoration-underline" (click)="seeMoreToggle(true)">see more</span>    
                </div>
                <div *ngIf="seeMore">
                    <p [innerHTML]="bookItem.volumeInfo.description"></p>
                    <span class="text-primary text-decoration-underline" (click)="seeMoreToggle(false)">see less</span>
                </div>
            </div>

            <div>
                <strong>Published:</strong>
                <p>{{bookItem.volumeInfo.publishedDate}}</p>
            </div>
            <a class="" target="_blank" href="{{bookItem.volumeInfo.previewLink}}">Full Preview</a>
        </div>

    </div>
    <hr>
    <div class="row">
        <div class="col" *ngIf="!bookInfo">
            <div class="row">
                <button class="btn alert-success rounded-0 col-5 col-md-2" type="button" (click)="addItem()">
                    <i class="bi bi-plus-lg"> Add to Shelf</i>
                </button>
                <select [formControl]="shelfInput" class="form-select rounded-0 col-6 col-sm-4" style="width: inherit;">
                    <option value="completed">Completed</option>
                    <option value="reading">Reading</option>
                    <option selected value="wishlist">Wishlist</option>
                </select>               
            </div>

        </div>
        <div class="col" *ngIf="bookInfo">
            <div class="row">
                <button class="btn alert-primary rounded-0 col-5 col-md-4" (click)="updateShelf()" type="button">
                    <i class="bi bi-toggles"> Change Shelf</i>
                </button>
                <select [formControl]="shelfInput" class="form-select rounded-0 col-6 col-sm-4" style="width: inherit;">
                    <option value="completed">Completed</option>
                    <option value="reading">Reading</option>
                    <option value="wishlist">Wishlist</option>
                </select>  
            </div>

        </div>
        <div *ngIf="bookInfo" class="col-3 mx-1 btn alert-danger rounded-0" (click)="deleteItem()">
            <i class="bi bi-trash-fill"> Delete</i>
        </div>
    </div>
    <div class="mt-3" *ngIf="bookInfo">
        <div class="d-flex justify-content-between my-1 align-items-center">
            My Notes:
            <span>
                <button *ngIf="!editNotes" (click)="editNotesToggle()" class="btn alert-success rounded-0"><i class="bi bi-pencil-square"></i></button>
                <button *ngIf="editNotes" (click)="updateNotes()" class="btn rounded-0 alert-success">Save Notes</button>
            </span>
        </div>
        <p *ngIf="!editNotes" class="text-secondary my-3">{{bookInfo.notes}}</p>
        <textarea *ngIf="editNotes" [formControl]="notesInput" class="bg-light text-secondary border-0 rounded p-3 w-100">
        </textarea>
    </div>
</div>